@model IEnumerable<ChartModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-10 text-center">
            <h1 class="display-5">Welcome to the YourExpenses application</h1>
            <h3 class="lead">To get started, you need to register or log in</h3>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-10 text-center">
            <h1 class="display-5">Manage Expenses</h1>
            <h2 class="lead">
                You can add, edit, and delete your expenses in this section.
            </h2>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-10 text-center">
            <h1 class="display-5">View Statistics</h1>
            <h2 class="lead">
                Here you can view various statistics related to your expenses.
            </h2>
        </div>
    </div>
</div>
